<div class="container mt-5"> <!--"container mt-5" adds a space about the element -->

    <h1 class="text-center mb-4"> <!--"text-center mb-4" centers the text and adds a space below the element -->
        What is the Budget Tracker App? 
    </h1> 

    <div class="about-card card shadow p-4 mx-auto"> <!--"about-card card shadow p-4 mx-auto" styles the card with padding and centers it horizontally -->
        
        <p>
            The Budget Tracker App is a simple web application is designed to help YOU manage your personal finances effectively. 
        </p>

        <p>
            Features of the Budget Tracker App include:
        </p>

        <ul>
            <li><strong>Transaction Management:</strong> Users can add, edit, and delete transactions with ease.</li> <!--"ul" creates an unordered list -->
            <li><strong>Categories:</strong> Transactions can be categorized for better organization and analysis.</li> <!--"li" defines a list item -->
            <li><strong>Responsive Design:</strong> The app is accessible on both desktop and mobile devices allowing for onto access.</li>
        </ul>

        <p>
            Explore and learn to make better financial decisions today! 
        </p>

    </div>

</div>
