<div class="text-center mt-5">

    <h1 class="mb-4">Welcome to Budget Tracker</h1>
    <p class="lead mb-5">Click the buttons to explore.</p>

    <div class="home-buttons">

        <a href="/about" class="home-btn">
            About
        </a>
        <a href="/transactions" class="home-btn">
            Transactions
        </a>
        <a href="/contact" class="home-btn">
            Contact
        </a>

    </div>
</div>