<div class="text-center mt-5"> 

    <h1 class="mb-4">Welcome to Budget Tracker</h1> <!-- mb-4 adds margin-bottom -->
    <p class="lead mb-5">Click the buttons to explore.</p> <!-- lead mb-5 adds margin-bottom -->

    <div class="home-buttons"> 

        <a href="/about" class="home-btn">
            <i class="fa-solid fa-circle-info"></i>  <!-- fa-circle-info adds an info icon -->
            About
        </a>
        <a href="/transactions" class="home-btn">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            Transactions
        </a>
        <a href="/contact" class="home-btn">
            <i class="fa-solid fa-envelope"></i>
            Contact
        </a>

    </div>
</div>