<div class="container mt-5 text-center">
  <h1 class="display-4">
    <i class="fa-solid fa-house"></i>
    Welcome to My CRUD App
  </h1>
  <p class="lead">Your Express Generator project is now fully set up!</p>
</div>
