/* ===== GLOBAL STYLING ===== */

body {
    background: linear-gradient(to bottom right, #e9f0ff, #f6faff);
    font-family: 'Segoe UI', sans-serif;
}

/* ===== HEADERS ===== */

h1, h2, h3 {
    font-weight: 700;
    color: #333;
}

/* === HOME PAGE BUTTONS === */

.home-buttons {
    max-width: 500px;
    margin: 0 auto;
}

.home-btn {
    display: block;
    width: 100%;
    background: white;
    color: #333;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #ccc;
    transition: background 0.2s;
}

.home-btn:hover {
    background: #e6e6e6;
}


/* ===== BUTTONS ===== */

.btn {
    border-radius: 8px;
    padding: 10px 18px;
}

/* ===== CARDS ===== */

.card {
    border-radius: 12px;
    border: none;
    background: white;
}

.card.shadow {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

/* ===== NAVBAR ===== */

.navbar-brand i {
    margin-right: 8px;
}

.nav-link {
    margin-left: 10px;
}

/* ===== FOOTER ===== */

footer {
    margin-top: 40px;
    padding: 20px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* ===== TABLES ===== */

.table thead {
    background: #345beb;
    color: white;
}

.table tbody tr:hover {
    background: #eef2ff;
    cursor: pointer;
}

/* ===== FORMS ===== */

input, select, textarea {
    border-radius: 8px !important;
}

label {
    font-weight: 600;
    margin-top: 10px;
}
